# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
*.tfvars
!example.tfvars

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Enclave artifacts
*.eif

# Logs
*.log
